@page
@model PromoCodesFront.Pages.DashboardModel
@{

    ViewData["Title"] = "Dashboard";
}

<section class="page-indecator">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-xs-6">
                <h2 class="heading">@ViewData["Title"]</h2>
            </div>
            <div class="col-sm-3 col-xs-6 text-right">
                <a asp-page="/AddPromoCode"><h2 class="heading text-right add-promo-button"><i class="fa fa-plus"></i> Add Promo Code</h2></a>
            </div>
        </div>
    </div>
    <div class="divider divider--bottom-lg"></div>
</section>

<section class="container">

    <h4 class="margin-0 margin-bottom-5">Active Promo Codes</h4>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="promosTable" class="table table--target">
                    <colgroup class="col-middle"></colgroup>
                    <colgroup class="col-middle"></colgroup>
                    <colgroup class="col-small"></colgroup>
                    <colgroup class="col-middle"></colgroup>
                    <colgroup class="col-small"></colgroup>
                    <thead>
                        <tr>
                            <th>Promo Code</th>
                            <th>Discount</th>
                            <th>Free Shipping</th>
                            <th>Limited To Categories</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="bottom-space--large"></div>

</section>

@section Scripts
{

    <script>

        $(document).ready(function () {

            let session = readCookie("admin");
            if (session != "true") {
                eraseCookie("admin");
                location.href = "/Index";
            }


            getPromos();
        })

        $("#promosTable").on('click', '.promo-item-delete', function (e) {

            const promoId = $(this).attr("data-id");
            if (confirm("This action is irreversible and shall delete all data related to this promo code. Are you sure?")) {
                deletePromo(promoId);
            }
        })
    </script>

}